In [32]:
import pandas as pd
import numpy as np

In [ ]:
df_titanic = pd.read_csv('Titanic_dataset.csv')
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#1.soru Kazada ölenlerin yaş ortalamasını bulunuz
df_dead = df_titanic[df_titanic['Survived'] == 0]
dead_age_mean = df_dead['Age'].mean()
float(dead_age_mean)

30.62617924528302

In [ ]:
#2.soru Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz
dead_fare_mean = df_dead['Fare'].mean()
dead_fare_median = df_dead['Fare'].median()

In [ ]:
float(dead_fare_mean)

22.117886885245902

In [ ]:
float(dead_fare_median)

10.5

In [ ]:
#3.soru Kazada ölen erkeklerin yaş ortalamasını bulunuz
dead_men = df_dead[df_dead['Sex'] == 'male']
dead_men_age_mean = dead_men['Age'].mean()
float(dead_men_age_mean)

31.618055555555557

In [ ]:
#4.soru Kazada ölen Kadınların yaş ortalamasını bulunuz
dead_women = df_dead[df_dead['Sex'] == 'female']
dead_women_age_mean = dead_women['Age'].mean()
float(dead_women_age_mean)

25.046875

In [ ]:
#5.soru Kazadan kurtulanların yaş ortalamasını bulunuz
df_survived = df_titanic[df_titanic['Survived'] == 1]
survived_age_mean = df_survived['Age'].mean()
float(survived_age_mean)

28.343689655172415

In [ ]:
#6.soru Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz
survived_fare_mean = df_survived['Fare'].mean()
float(survived_fare_mean)

48.39540760233918

In [ ]:
#7.soru Kazadan kurtulan toplam kişi sayısını bulunuz
survivors_count = len(df_survived)
survivors_count

342

In [ ]:
#8.soru 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz
children_under_10 = df_titanic[df_titanic['Age'] < 10]
children_fare_median = children_under_10['Fare'].median()
children_fare_median

27.0

In [ ]:
#9.soru 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız.
fare_stats_by_class = df_titanic.groupby('Pclass')['Fare'].agg(['mean', 'median']).rename_axis('Yolcu Sınıfı')
fare_stats_by_class

                   mean   median
Yolcu Sınıfı
1             84.154687  60.2875
2             20.662183  14.2500
3             13.675550   8.0500

In [ ]:
#Birinci sınıf yolcular çok daha yüksek ücret ödemiştir.
#Üçüncü sınıf, en ekonomik sınıf olarak ortalama ve medyan açısından oldukça düşüktür.
#Bu farklar, sosyal sınıflar arasındaki ekonomik uçurumu da yansıtır.

In [ ]:
#10.soru Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırını
total_women = df_titanic[df_titanic['Sex'] == 'female']
total_men = df_titanic[df_titanic['Sex'] == 'male']

In [ ]:
dead_women = df_dead[df_dead['Sex'] == 'female']
dead_men = df_dead[df_dead['Sex'] == 'male']
dead_women
dead_men

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
dead_women_ratio = len(dead_women) / len(total_women)
dead_men_ratio = len(dead_men) / len(total_men)

In [ ]:
dead_women_ratio

0.25796178343949044

In [ ]:
dead_men_ratio

0.8110918544194108